{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/assignment.css">
{% endblock head %}

{% block content %}
    {{ super() }}

{% for msg in get_flashed_messages() %}
        <div class="bg-success w-25 text-center p-1 rounded">{{ msg }}</div>
{% endfor %}

<div class="p-4" id="page-div">
<div class="position-relative d-flex" id="title">
<h1>{{ title }}</h1>
<a class="btn btn-primary m-2 p-1 align-self-center create-task-button" href="{{ url_for('createtask') }}" role="button">+ Create task</a>

</div>
<br>
<div class="position-relative w-50" id="tasks">
{% for task in tasks %}
<a class="task-info" href="{{ url_for('taskdescription', task_uid=task.uid) }}" id="{{ task.uid }}">
<div class="task-link">
    <div class="task-subject-div">
        <div class="task-subject" id="task-subject-{{ task.uid }}">{{ task.subject }}</div>
        <div class="task-label-element">
            <div class="task-label" id="task-label-{{ task.uid }}">{{ task.label }}</div>
            <span class="task-color-label" style="color: {{ color[task.label] }};" id="color-label-{{ task.uid }}"> ● </span>
        </div>
    </div>
    <div class="time-label" id="time-label-{{ task.uid }}">
        <div id="task-deadline-{{ task.uid }}"><strong>Due to: </strong>{{ task.deadline.strftime('%d %B %Y %H:%M') }}</div>
        <strong>Time remaining:</strong> <span class="time-left" data-deadline="{{ task.deadline.strftime('%Y-%m-%dT%H:%M:%S') }}"></span>
    </div>
</div>
</a>
{% endfor %}
</div>
</div>

<script type="module" src="{{ url_for('static', filename='js/socket.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/deleted_task.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/left_time.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/assignment_socketio_handlers.js') }}"></script>

{% endblock %}