{% extends 'base.html' %}

{% block content %}
    {{ super() }}

{% for msg in get_flashed_messages() %}
        <div class="bg-success w-25 text-center p-1 rounded">{{ msg }}</div>
{% endfor %}

<style>
.task-link{
    border: 1px solid;
}
.task-link:hover {
    left: 10px;
    bottom: 5px;
    box-shadow: 0 0 10px -0.1em blue;
}
</style>

<div class="p-4">

<div class="position-relative d-flex">
<h1>{{ title }}</h1>
<a class="btn btn-primary m-2 p-1 align-self-center" style="font-size: 15px; height: 33px;" href="{{ url_for('createtask') }}" role="button">+ Create task</a>
</div>
<br>
<div class="position-relative w-50">
{% for task in tasks %}
<a href="{{ url_for('taskdescription', task_uid=task.uid) }}" style="text-decoration: none; color: inherit;">
<div class="task-link m-2 p-2 position-relative">
    <div style="margin: 0px 0px 16px 0px;">
        <div class="fs-4 text-break lh-sm" style="margin: 20px 45px 0px 0px">{{ task.subject }}</div>
        <div class="position-absolute top-0 end-0 d-flex">
        <div class="position-relative" style="right: 8px">{{ task.label }}</div>
            <span class="fs-5 position-relative" style="color: {{ color[task.label] }}; top: -4px; right: 5px"> ● </span>
        </div>
    </div>
    <div class="position-relative">
    <div class="position-relative" style="bottom: 0px">
    <span class="fw-bold">Due to:</span> {{ task.deadline.strftime('%d %B %Y %H:%M') }}
    <br>
    <span class="fw-bold">Time remaining:</span> <span data-deadline="{{ task.deadline.strftime('%Y-%m-%dT%H:%M:%S') }}" id="time-left"></span>
    </div>
    </div>
</div>
</a>
{% endfor %}
</div>
</div>


<script src="{{ url_for('static', filename='left_time.js') }}"></script>

{% endblock %}
