{% extends 'base.html' %}

{% block mainmenu %}{% endblock mainmenu %}
{% block content %}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="border p-4 position-relative" style="width: 500px">
        <form id="TaskForm" method="post" class="row g-3" novalidate enctype="multipart/form-data">
            <h1 class="text-center">{{ title }}</h1>
            {{ form.hidden_tag() }}

            {% for field in form if field.name not in ['csrf_token', 'submit'] %}
                <div class="col-md-12 position-relative">
                    {% if field.name == 'deadline' %}
                        <div class="d-flex align-items-center">
                            <label class="form-label me-2 mb-0">Deadline:</label>
                            {% if field.errors %}
                                {{ field(class="form-control is-invalid") }}
                            {% else %}
                                {{ field(class="form-control") }}
                            {% endif %}
                        </div>
                        {% if field.errors %}
                            <div class="invalid-feedback d-block mt-1">
                                {% set seen_errors = [] %}
                                {% for e in field.errors %}
                                    {% if e not in seen_errors %}
                                        <span class="position-relative" style="left: 74px">{{ e }}</span>
                                        {% set _ = seen_errors.append(e) %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% elif field.name == 'user_limit' %}
                        {{ field(class="form-range", id="workers") }}
                        <p>Max count of workers for this task: <output id="workers_count"></output></p>
                    {% else %}
                        {% if field.errors %}
                            {{ field(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% set seen_errors = [] %}
                                {% for e in field.errors %}
                                    {% if e not in seen_errors %}
                                        <span>{{ e }}</span>
                                        {% set _ = seen_errors.append(e) %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ field(class="form-control") }}
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            <div class="col-12 d-flex justify-content-between">
                <p class="position-relative m-2">
                    <a class="link-opacity-75-hover link-underline link-underline-opacity-0" href="{{ url_for('assignment') }}"><-Back to assignment</a>
                </p>
                {{ form.submit(class="btn btn-primary position-relative") }}
            </div>
        </form>
    </div>
</div>
<script>
    (() => {
      'use strict'

      const forms = document.querySelectorAll('.needs-validation')

      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
    })()

    window.addEventListener('pageshow', function(event) {
        var form = document.getElementById('TaskForm');
        if (event.persisted) {
            form.reset();
            form.classList.remove('was-validated');
        }
    });

    window.onload = function() {
        document.getElementById('TaskForm').reset();
    };

const value = document.querySelector("#workers_count");
const input = document.querySelector("#workers");
value.textContent = input.value;
input.addEventListener("input", (event) => {
  value.textContent = event.target.value;
});

</script>
{% endblock %}
