{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/task.css">
{% endblock head %}

{% block mainmenu %}
    {% if edit_mode %}
        {{ super() }}
        <script>document.querySelector('.main-menu').classList.add('hidden');</script>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock mainmenu %}

{% block content %}
<div class="task-tab {% if edit_mode %} hidden {% endif %}">
    <div class="task-info" description_url="{{ url_for('taskdescription', task_uid=task.uid) }}" assignment_url="{{ url_for('assignment') }}" id="{{ task.uid }}" style="width: 85%">
            <div class="d-flex">
                <h1 id="task-subject" class="text-break">{{ task.subject }}</h1>
                {% if current_user.username == task.created_by %}
                    <button type="button" class="align-self-center p-0 action-task-button edit-task-button-mg" id="edit-task-button">
                        <img class="action-task-button" src="{{ url_for('static', filename='img/edit.png') }}" alt="Edit task">
                    </button>
                    <button type="button" class="align-self-center p-0 action-task-button delete-task-button-mg" data-bs-toggle="modal" data-bs-target="#confirm-delete-task-window" id="delete-task-button">
                        <img class="action-task-button" src="{{ url_for('static', filename='img/delete.png') }}" alt="Delete task">
                    </button>

                    <div class="modal fade" id="confirm-delete-task-window">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5">Confirm deletion</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body" style="font-size: 15px">
                                    This will delete the task permanently. You won't be able to restore it.
                                    <br>
                                    Are you sure you want to delete the task?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-danger" id="delete-task">Delete task</button>
                                    <button type="button" class="btn btn-sm btn-light" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="position-relative top-0 end-0 d-flex">
                <div class="position-relative" id="task-label">{{ task.label }}</div>
                <span class="fs-5 position-relative color-label" style="color: {{ color[task.label] }};" id="color-label"> ● </span>
            </div>
            <div class="position-relative" style="bottom: 0px" id="time-label">
            <span class="fw-bold">Due to:</span> <span id="task-deadline">{{ task.deadline.strftime('%d %B %Y %H:%M') }}</span>
            <br>
            <span class="fw-bold">Time remaining:</span> <span class="time-left" data-deadline="{{ task.deadline.strftime('%Y-%m-%dT%H:%M:%S') }}"></span>
            </div>
            <div class="d-inline-flex" id="accept-reject-button" url="{{ url_for('acceptreject', task_uid=task.uid) }}" cur_user="{{ current_user.username }}">
                {% if current_user in task.users %}
                    <button type="button" class="btn btn-primary visually-hidden assign-task-button" id="accept-task">Accept</button>
                    <button type="button" class="btn btn-danger assign-task-button" id="reject-task">Reject</button>
                {% else %}
                    <button type="button" class="btn btn-primary assign-task-button" id="accept-task">Accept</button>
                    <button type="button" class="btn btn-danger visually-hidden assign-task-button" id="reject-task">Reject</button>
                {% endif %}
            </div>
            <div class="toast-container position-absolute bottom-0 end-0 m-3" id="toast-messages-container">

            </div>
            <br>
            <span class="d-inline-flex" id="assigned-users" style="margin-top: 5px">
                {% if task.users %}
                    Assigned to: &nbsp
                    {% for user in task.users %}
                        <a class="link-underline link-underline-opacity-0" href="{{ url_for('profile', username=user.username) }}">{{ user.username }}</a>
                        {% if not loop.last %}, &nbsp{% endif %}
                    {% endfor %}
                {% else %}
                    No one does this task
                {%  endif %}
            </span>
            <div class="text-break" style="margin: 80px 0 0 0">
                <h3>Description:</h3>
                <div id="task-description">{{ task.description }}</div>
            </div>
            <div class="mt-3"><h3>Attachments:</h3>
            <div id="task-attachments">
                {% for file in task.files %}
                    <a href="{{ url_for('downloadfile', file_uid=file.uid) }}" class="btn btn-outline-dark d-flex d-inline-flex download-file-button">{{ file.filename }}</a>
                {% endfor %}
            </div>
            </div>
            <br>
            <p class="mt-5"><span class="fw-bold">Created:</span> {{ task.created.strftime('%d %B %Y') }} by <a class="link-underline link-underline-opacity-0" href="{{ url_for('profile', username=task.created_by) }}">{{ task.created_by }}</a></p>
    </div>
    <div class="comments-section">
        <div class="comments-list" id="comments-list">
            {% for comment in task.comments %}
            <div class="comment" id="comment-{{ comment.uid }}">
                {% if current_user.username ==  comment.author %}
                <span class="comment-buttons">
                    <button class="comment-edit-button">
                        <img class="comment-action-img" src="{{ url_for('static', filename='img/edit_msg.png') }}" alt="Edit comment">
                    </button>
                    <button class="comment-delete-button">
                        <img class="comment-action-img" src="{{ url_for('static', filename='img/delete_msg.png') }}" alt="Delete comment">
                    </button>
                </span>
                {% endif %}
                <div class="comment-author">
                    <a class="link-opacity-75-hover link-underline link-underline-opacity-0" href="{{ url_for('profile', username=comment.author) }}">{{ comment.author }}</a>
                </div>
                <div class="comment-content-element">
                    <span class="comment-content">{{ comment.content.replace('\n', '<br>').replace(' ', '&nbsp;') | safe }}</span>
                    <div class="comment-created">
                        {{ comment.created.strftime('%d %b %Y %H:%M') }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div style="margin-top: 5px">
            <textarea class="comment-input-field" placeholder="Type your comment here" id="comment-input-field"></textarea>
            <div class="comment-send-element">
                <img class="comment-send-img" src="{{ url_for('static', filename='img/send_msg.png') }}" alt="Send comment">
                <div style="text-align: right;"><button class="comment-send-button" id="comment-send">Send</button></div>
            </div>
        </div>
    </div>
</div>

<script type="module" src="{{ url_for('static', filename='js/socket.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/left_time.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/accept_reject.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/task_socketio_handlers.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/comments.js') }}"></script>

{% if current_user.username == task.created_by %}
<div class="edit-task-tab {% if not edit_mode %} hidden {% endif %}">
    <div class="edit-task-header-element">
        <h1 class="edit-task-header">Edit task</h1>
        <div class="edit-task-buttons">
            {{ task_form.submit(class="btn btn-primary edit-action-button save-changes", value="Save changes", id="edit-save-changes", form="edit-task-form") }}
            <button type="button" class="btn btn-danger edit-action-button cancel-changes" id="edit-cancel-changes">
                Cancel
            </button>
        </div>
    </div>
    <div class="edit-task-body">
        <form id="edit-task-form" edit_mode="{{ edit_mode }}" action="{{ url_for('taskdescription', task_uid=task.uid) }}" method="post" novalidate enctype="multipart/form-data">
            {{ task_form.hidden_tag() }}
            <input type="hidden" name="task_uid" form="edit-task-form" value="{{ task.uid }}">
            <h3>Subject</h3>
                {% if task_form.subject.errors %}
                    {{ task_form.subject(class='form-control edit-form-margin is-invalid', id='edit-form-subject') }}
                {% else %}
                    {{ task_form.subject(class='form-control edit-form-margin', id='edit-form-subject') }}
                {% endif %}
            <br>
            <h3>Description</h3>
                {% if task_form.description.errors %}
                    {{ task_form.description(class='form-control edit-form-margin is-invalid', style='max-height: 500px;', id='edit-form-description') }}
                {% else %}
                    {{ task_form.description(class='form-control edit-form-margin', style='max-height: 500px;', id='edit-form-description') }}
                {% endif %}
            <br>
            <h3>Deadline</h3>
            <div class="field-element">
                {% if task_form.deadline.errors %}
                    {{ task_form.deadline(class='form-control edit-form-margin is-invalid', style='width: auto;', id='edit-form-deadline') }}
                    <span class="field-error">{{ task_form.deadline.errors[0] }}</span>
                {% else %}
                    {{ task_form.deadline(class='form-control edit-form-margin', style='width: auto;', id='edit-form-deadline') }}
                {% endif %}
            </div>
            <br>
            <h3>Attachments</h3>
            {% for file in task.files %}
                <div class="file-element" id="file-{{ file.uid }}">
                    <a href="{{ url_for('downloadfile', file_uid=file.uid) }}" class="btn btn-outline-dark d-flex d-inline-flex file-link"><span class="file-name">{{ file.filename }}</span></a>
                    <button class="remove-file-button" type="button">
                        <span class="remove-file-symbol">×</span>
                    </button>
                    <input type="hidden" name="removed_files" id="removed-files">
                </div>
            {% endfor %}
                {% if task_form.files.errors %}
                    {{ task_form.files(class='form-control form-control-sm edit-form-margin is-invalid', style='margin-top: 15px; width: auto;', id='edit-form-attachments') }}
                {% else %}
                    {{ task_form.files(class='form-control form-control-sm edit-form-margin', style='margin-top: 15px; width: auto;', id='edit-form-attachments') }}
                {% endif %}
            <br>
            <div id="task-user-limit" user_limit="{{ task.user_limit }}">
                <h3>Max count of workers for this task:</h3>
                {{ task_form.user_limit(class='form-range edit-user-limit', id='user-limit') }}
                <output class="edit-user-limit-value" id="user-count"></output>
            </div>
        </form>
    </div>
</div>

<script type="module" src="{{ url_for('static', filename='js/edit_delete_task.js') }}"></script>
<script src="{{ url_for('static', filename='js/user_limit.js') }}"></script>
{% endif %}

{% endblock %}