{% extends 'base.html' %}

{% block content %}
    {{ super() }}
<div class="p-4" id="task-info" description_url="{{ url_for('taskdescription', task_uid=task.uid) }}" assignment_url="{{ url_for('assignment') }}" task_uid="{{ task.uid }}">
    <form id="edit-task-form">
    {{ form.hidden_tag() }}
        <div class="d-flex">
            <h1 id="task-subject" class="text-break">{{ task.subject }}</h1>
            {% if current_user.username == task.created_by %}
                {{ form.subject(value=task.subject, class='visually-hidden h1', id='form-subject') }}
                <button type="button" class="align-self-center p-0" id="edit-task" style="background-color: white; border: none; margin: 0px 0px 0px 35px">
                    <img src="{{ url_for('static', filename='img/edit.png') }}" alt="Edit task" style="height: 20px; width: 20px">
                </button>
                <button type="button" class="align-self-center p-0" id="delete-task" style="background-color: white; border: none; margin: 0px 0px 0px 10px">
                    <img src="{{ url_for('static', filename='img/delete.png') }}" alt="Delete task" style="height: 20px; width: 20px">
                </button>

                <button type="button" class="btn btn-primary align-self-center p-0 visually-hidden" id="save-changes" style="margin: 0px 0px 0px 35px; width: 55px">
                    Save
                </button>
                <button type="button" class="btn btn-danger align-self-center p-0 visually-hidden" id="cancel-changes" style="margin: 0px 0px 0px 10px; width: 55px">
                    Cancel
                </button>
            {% endif %}
        </div>
        <div class="position-relative top-0 end-0 d-flex">
            <div class="position-relative" id="task-label">{{ task.label }}</div>
            <span class="fs-5 position-relative" style="color: {{ color[task.label] }}; top: -4px; left: 3px" id="color-label"> ● </span>
        </div>
        {#    <div class="position-relative">#}
        <div class="position-relative" style="bottom: 0px" id="time-label" url="{{ url_for('checklabel', task_uid=task.uid) }}">
        <span class="fw-bold">Due to:</span> <span id="task-deadline">{{ task.deadline.strftime('%d %B %Y %H:%M') }}</span>
            {{ form.deadline(value=task.deadline, class='visually-hidden form-control', style='width: 205px', id='form-deadline') }}
        <br>
        <span class="fw-bold">Time remaining:</span> <span data-deadline="{{ task.deadline.strftime('%Y-%m-%dT%H:%M:%S') }}" id="time-left"></span>
        </div>
        <div class="d-inline-flex" id="accept-reject-button" url="{{ url_for('acceptreject', task_uid=task.uid) }}" cur_user="{{ current_user.username }}">
            {% if current_user in task.users %}
                <button type="button" class="btn btn-primary visually-hidden" id="accept-task" style="margin-top: 5px; padding-top: 3px; padding-bottom: 3px; width: 80px; text-align: center">Accept</button>
                <button type="button" class="btn btn-danger" id="reject-task" style="margin-top: 5px; padding-top: 3px; padding-bottom: 3px; width: 80px; text-align: center">Reject</button>
            {% else %}
                <button type="button" class="btn btn-primary" id="accept-task" style="margin-top: 5px; padding-top: 3px; padding-bottom: 3px; width: 80px; text-align: center">Accept</button>
                <button type="button" class="btn btn-danger visually-hidden" id="reject-task" style="margin-top: 5px; padding-top: 3px; padding-bottom: 3px; width: 80px; text-align: center">Reject</button>
            {% endif %}
        </div>
        <br>
        <span class="d-inline-flex" id="assigned-users" style="margin-top: 5px">
            {% if task.users %}
                Assigned to: &nbsp
                {% for user in task.users %}
                    <a class="link-underline link-underline-opacity-0" href="{{ url_for('profile', username=user.username) }}">{{ user.username }}</a>
                    {% if not loop.last %}, &nbsp{% endif %}
                {% endfor %}
            {% else %}
                No one does this task
            {%  endif %}
        </span>
        {#    </div>#}
        <div class="text-break" style="width: 85%; margin: 80px 0px 0px 0px">
            <h3>Description:</h3>
            <div id="task-description">{{ task.description }}</div>
        </div>
        <div class="mt-3"><h3>Attachments:</h3>
        <div id="task-attachments">
            {% for file in task.files %}
                <a href="{{ url_for('downloadfile', file_uid=file.uid) }}" class="btn btn-outline-dark d-flex d-inline-flex" style="height: 30px; max-width: 150px; font-size: 14px; padding: 2px 5px; align-items: center">{{ file.filename }}</a>
            {% endfor %}
        </div>
            {{ form.files(class='visually-hidden form-control form-control-sm', style='width: 205px; margin-top: 10px', id='form-attachments') }}
        </div>
        <br>
        <div class="visually-hidden" id="task-user-limit" user_limit="{{ task.user_limit }}">
            <p class="h3">Max count of workers for this task:<output id="user-count"></output></p>
            {{ form.user_limit(value=task.user_limit, class='form-range', style='width: 300px', id='user-limit') }}
        </div>
        <p class="mt-5"><span class="fw-bold">Created:</span> {{ task.created.strftime('%d %B %Y') }} by <a class="link-underline link-underline-opacity-0" href="{{ url_for('profile', username=task.created_by) }}">{{ task.created_by }}</a></p>
    </form>
</div>

<script src="{{ url_for('static', filename='left_time.js') }}"></script>
<script src="{{ url_for('static', filename='accept_reject.js') }}"></script>
<script src="{{ url_for('static', filename='task_label.js') }}"></script>
<script src="{{ url_for('static', filename='edit_delete_task.js') }}"></script>


{% endblock %}