{% extends 'base.html' %}

{% block content %}
    {{ super() }}
<div class="d-flex">
<div class="p-4" id="task-info" description_url="{{ url_for('taskdescription', task_uid=task.uid) }}" assignment_url="{{ url_for('assignment') }}" task_uid="{{ task.uid }}" style="width: 85%">
        <div class="d-flex">
            <h1 id="task-subject" class="text-break">{{ task.subject }}</h1>
            {% if current_user.username == task.created_by %}
                <button type="button" class="align-self-center p-0" data-bs-toggle="modal" data-bs-target="#edit-task-window" id="edit-task-button" style="background-color: white; border: none; margin: 0px 0px 0px 35px">
                    <img src="{{ url_for('static', filename='img/edit.png') }}" alt="Edit task" style="height: 20px; width: 20px">
                </button>
                <button type="button" class="align-self-center p-0" data-bs-toggle="modal" data-bs-target="#confirm-delete-task-window" id="delete-task-button" style="background-color: white; border: none; margin: 0px 0px 0px 10px">
                    <img src="{{ url_for('static', filename='img/delete.png') }}" alt="Delete task" style="height: 20px; width: 20px">
                </button>

                <div class="modal" id="edit-task-window">
                    <div class="modal-dialog modal-fullscreen">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-1">Edit task</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <form id="edit-task-form">
                                    {{ task_form.hidden_tag() }}
                                    {{ task_form.subject(value=task.subject, id='form-subject') }}
                                    {{ task_form.description(value=task.description, id='form-description') }}
                                    {{ task_form.files(class='form-control form-control-sm', style='width: 205px; margin-top: 10px', id='form-attachments') }}
                                    {{ task_form.deadline(value=task.deadline, class='form-control', style='width: 205px', id='form-deadline') }}
                                    <div id="task-user-limit" user_limit="{{ task.user_limit }}">
                                        <p class="h3">Max count of workers for this task:<output id="user-count"></output></p>
                                        {{ task_form.user_limit(value=task.user_limit, class='form-range', style='width: 300px', id='user-limit') }}
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-light" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="confirm-delete-task-window">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">Confirm deletion</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body" style="font-size: 15px">
                                This will delete the task permanently. You won't be able to restore it.
                                <br>
                                Are you sure you want to delete the task?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-danger" id="delete-task">Delete task</button>
                                <button type="button" class="btn btn-sm btn-light" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary align-self-center p-0 visually-hidden" id="save-changes" style="margin: 0px 0px 0px 35px; width: 55px">
                    Save
                </button>
                <button type="button" class="btn btn-danger align-self-center p-0 visually-hidden" id="cancel-changes" style="margin: 0px 0px 0px 10px; width: 55px">
                    Cancel
                </button>
            {% endif %}
        </div>
        <div class="position-relative top-0 end-0 d-flex">
            <div class="position-relative" id="task-label">{{ task.label }}</div>
            <span class="fs-5 position-relative" style="color: {{ color[task.label] }}; top: -4px; left: 3px" id="color-label"> ● </span>
        </div>
        {#    <div class="position-relative">#}
        <div class="position-relative" style="bottom: 0px" id="time-label">
        <span class="fw-bold">Due to:</span> <span id="task-deadline">{{ task.deadline.strftime('%d %B %Y %H:%M') }}</span>
        <br>
        <span class="fw-bold">Time remaining:</span> <span data-deadline="{{ task.deadline.strftime('%Y-%m-%dT%H:%M:%S') }}" id="time-left"></span>
        </div>
        <div class="d-inline-flex" id="accept-reject-button" url="{{ url_for('acceptreject', task_uid=task.uid) }}" cur_user="{{ current_user.username }}">
            {% if current_user in task.users %}
                <button type="button" class="btn btn-primary visually-hidden" id="accept-task" style="margin-top: 5px; padding-top: 3px; padding-bottom: 3px; width: 80px; text-align: center">Accept</button>
                <button type="button" class="btn btn-danger" id="reject-task" style="margin-top: 5px; padding-top: 3px; padding-bottom: 3px; width: 80px; text-align: center">Reject</button>
            {% else %}
                <button type="button" class="btn btn-primary" id="accept-task" style="margin-top: 5px; padding-top: 3px; padding-bottom: 3px; width: 80px; text-align: center">Accept</button>
                <button type="button" class="btn btn-danger visually-hidden" id="reject-task" style="margin-top: 5px; padding-top: 3px; padding-bottom: 3px; width: 80px; text-align: center">Reject</button>
            {% endif %}
        </div>
        <div class="toast-container position-absolute bottom-0 end-0 m-3" id="toast-messages-container">

        </div>
        <br>
        <span class="d-inline-flex" id="assigned-users" style="margin-top: 5px">
            {% if task.users %}
                Assigned to: &nbsp
                {% for user in task.users %}
                    <a class="link-underline link-underline-opacity-0" href="{{ url_for('profile', username=user.username) }}">{{ user.username }}</a>
                    {% if not loop.last %}, &nbsp{% endif %}
                {% endfor %}
            {% else %}
                No one does this task
            {%  endif %}
        </span>
        {#    </div>#}
        <div class="text-break" style="margin: 80px 0px 0px 0px">
            <h3>Description:</h3>
            <div id="task-description">{{ task.description }}</div>
        </div>
        <div class="mt-3"><h3>Attachments:</h3>
        <div id="task-attachments">
            {% for file in task.files %}
                <a href="{{ url_for('downloadfile', file_uid=file.uid) }}" class="btn btn-outline-dark d-flex d-inline-flex" style="height: 30px; max-width: 150px; font-size: 14px; padding: 2px 5px; margin-top: 5px; align-items: center">{{ file.filename }}</a>
            {% endfor %}
        </div>
        </div>
        <br>
        <p class="mt-5"><span class="fw-bold">Created:</span> {{ task.created.strftime('%d %B %Y') }} by <a class="link-underline link-underline-opacity-0" href="{{ url_for('profile', username=task.created_by) }}">{{ task.created_by }}</a></p>
</div>
<div style="height: 90vh; width: 14%; padding: 5px;">
    <div style="height: 90%; overflow: auto; border: 1px solid rgba(0, 0, 0, 0.3); padding: 5px" id="comments-div">
        {% for comment in task.comments %}
        <div class="comment-element" style="position: relative; padding: 0px 3px 0px 3px; margin-bottom: 10px;" id="comment-{{ comment.uid }}">
            {% if current_user.username ==  comment.author %}
            <span class="comment-edit-delete" style="position: absolute; right: 5px; height: 12px; width: 26px; font-size: 12px; top: 5px; display: none; justify-content: space-between; align-items: center; z-index: 10;">
                <button style="background-color: inherit; border: none; height: 12px; width: 12px; padding: 0; font-size: 12px; display: flex; justify-content: center; align-items: center;" id="comment-edit">
                    <img src="{{ url_for('static', filename='img/edit_msg.png') }}" alt="Edit comment" style="height: 12px; width: 12px;">
                </button>
                <button style="background-color: inherit; border: none; height: 12px; width: 12px; padding: 0; font-size: 12px; display: flex; justify-content: center; align-items: center;" id="comment-delete">
                    <img src="{{ url_for('static', filename='img/delete_msg.png') }}" alt="Delete comment" style="height: 12px; width: 12px;">
                </button>
            </span>
            {% endif %}
            <div style="position: relative; margin-left: 5px; font-size: 12px">
                <a class="link-opacity-75-hover link-underline link-underline-opacity-0" href="{{ url_for('profile', username=comment.author) }}">{{ comment.author }}</a>
            </div>
            <div style="word-break: break-all; border: 1px solid rgba(0, 0, 0, 0.5); border-radius: 5px; background-color: rgba(0,15,135,0.1); padding: 2px 5px 0px 2px; font-size: 12px">
                <span class="comment-content">{{ comment.content.replace('\n', '<br>').replace(' ', '&nbsp;') | safe }}</span>
                <div style="text-align: right; margin-top: 2px; font-size: 10px;">
                    {{ comment.created.strftime('%d %b %Y %H:%M') }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div style="margin-top: 5px">
        <textarea placeholder="Type your comment here" style="outline: none; border: 1px solid rgba(0, 0, 0, 0.3); border-bottom: 2px solid black; font-size: 12px; resize: none; width: 100%; min-height: 50px; max-height: 250px; scrollbar-width: none; padding-right: 20px;" id="comment-input-field"></textarea>
        <div style="position: relative; display: inline-block; height: 15px; width:15px; padding: 0px; font-size: 0px; top: -15px; left: 93%;">
            <img src="{{ url_for('static', filename='img/send_msg.png') }}" alt="Send comment" style="height: 15px; width: 15px; padding: 0">
            <div style="text-align: right;"><button style="position: absolute; top: 0px; left: 0px; opacity: 0; height: 15px; width: 15px; padding: 0px;" id="comment-send">Send</button></div>
        </div>
    </div>
</div>
</div>

<script src="{{ url_for('static', filename='left_time.js') }}"></script>
<script src="{{ url_for('static', filename='accept_reject.js') }}"></script>
<script src="{{ url_for('static', filename='task_socketio_handlers.js') }}"></script>
<script src="{{ url_for('static', filename='edit_delete_task.js') }}"></script>
<script src="{{ url_for('static', filename='comments.js') }}"></script>


{% endblock %}